{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^@nestjs/?.*$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy"
  ],
  "importOrderTypeScriptVersion": "5.0.0"
}
